<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>Luo uusi kysymys</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<body>
	
		<h1>UUSI KYSYMYS</h1>
		
		
		
		<div>
 			<form th:object="${kysymys}" th:action="@{saveKysymys}" action="#" method="post">
 			 <label for="kysymysteksti">Kysymysteksti</label>
 			 <input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" />
 			 <label for="deplist">Kysely</label>
 			 <select id="deplist" th:field="*{kysely}" class="form-control">
 			 <option th:each="kysely: ${kyselyt}" th:value="${kysely.kyselyId}" th:text="${kysely.nimi}"></option>
 			 </select>
 			 <input type="submit" value="Save"></input>
 			</form>
		</div>
	</body>
</html>