<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Ohjelmistoprojekti Backend</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	
	<p>Ohjelmistoprojekti Backend</p>	
				<a href="/api/profile">API</a>
				<a href="/userKyselyt">Lisää kysymys</a>
				<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos"  />
		</form>
	
		
</body>
</html>