<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> 
<head>
	<title>Kyselyn kysymykset</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<body>
	
		<h1>Kyselyn kysymykset</h1>
		
		
		<table class="table table-striped">
		
			<tr>
				<th>Kysely</th>
				<th>Nimi</th>
			</tr>
			
			<tr th:each = "kysymys : ${kysymys}">
				<td th:text="${kysymys.kysely.nimi}"></td>
				<td th:text="${kysymys.kysymysteksti}"></td>
			</tr>
		</table>
		<a href="/addKysymys" class="btn btn-primary">Lisää kysymys kyselyyn</a>
		
		
		
			
		
	
	</body>
</html>